__pycache__/BM.cpython-36.pyc
__pycache__/KMP.cpython-36.pyc
pertanyaan.txt
__pycache__/BM.cpython-37.pyc
__pycache__/ChangeQuestion.cpython-37.pyc
__pycache__/KMP.cpython-37.pyc
__pycache__/Regex.cpython-37.pyc
__pycache__/BM.cpython-37.pyc
__pycache__/KMP.cpython-37.pyc
__pycache__/Regex.cpython-37.pyc
*.pyc
